<h1>商品一覧ページ</h1>

<h1>商品一覧</h1>
<% @items.each do |item| %>
  <h4>タイトル</h4>
  <%= item.name %>

  <h4>紹介文</h4>
  <%= item.introduction %>

  <h4>画像</h4>
  <%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg' %>

  <%= link_to "詳細", admins_item_path(item) %>

<% end %>

<%= link_to "商品を追加",  new_admins_item_path %>